body {
    line-height: 1.5;
    font-family: Sora, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: rgb(124, 57, 9);   
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

footer {
    background-color: rgb(243, 198, 169); 
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* nav bar */

nav {
    background-image: linear-gradient(180deg, rgb(251, 237, 226) 30%, rgb(245, 204, 176) 90%);
}

nav .head-container {
    margin: 0;
    padding: 8px 0 0 0;
}

.head-container img {
    height: 50px;
    width: auto; 
    padding: 0;
    margin-left: 70px;
}

.head-container a {
    text-decoration: none;
}

.header-link {
    color: rgb(104, 52, 16);
    margin: 8px 0 0 10px; 
    font-size: 24px;
}

nav ul li {
    display: inline-block;
    margin: 0; 
    vertical-align: top;
}

.nav-container { 
    display: inline-block;
    padding: 0;
    position: absolute;
    right: 50px;  
}

.nav-menu {
    text-transform: uppercase;
    font-size: 12px;
    margin: 14px 14px 7px 14px;
    padding: 6px 20px;
    background-color: rgb(151, 84, 13);
    color: white;
    border: 1px solid rgb(104, 52, 16);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
}

.nav-link {
    text-decoration: none;
    color: white;
}


/* dropdown menu*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(151, 84, 13, 0.8);
    min-width: 155px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .7);
    z-index: 1;
}

.dropdown-content a {
    display: block; 
    padding: 12px 16px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
}

.dropdown-content a:hover {
    background-color: white;
    color: rgb(151, 84, 13);
}

.dropdown:hover .dropdown-content {
    display: block; 
}

.dropdown:hover .drop {
    background-color: white;
    color: rgb(151, 84, 13);
}

/* header */

.header-container {
    background-image: linear-gradient(180deg, rgb(243, 198, 169) 5%, white 30%);
    width: 100%;
}

.banner {
    width: 100%; 
}


/* main content section */

.content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.content .paragraph {
    padding-top: 40px;
}


/* recipe section */

.recipe-card {
    background-color: rgb(251, 238, 223);
    margin-bottom: 30px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    border: 2px solid rgb(196, 111, 21);
}

.recipe-card .intro {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    padding: 0 20px;
    width: 64.5%;
}

.intro h3 { 
    margin: 20px 0 0 0; 
    font-size: 24px;
    text-transform: uppercase;
}

.intro p {
    padding-bottom: 30px; 
}

.recipe-pic {
    vertical-align: top;
}

.intro section {
    display: inline-block;
    padding: 0;
}

section ul {
    padding: 0;
    margin: 0;
}

.list-prep li {
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
}

.list-prep h4 {
    margin: 0;
    text-transform: uppercase;
}

.list-prep p {
    margin: 0; 
}

.content button {
    background-color: rgb(151, 84, 13);
    border: 1px solid rgb(104, 52, 16);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    vertical-align: top;
    padding: 15px 19px;
    margin-bottom: 20px;
}

.recipe-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

h3 .recipe-link {
    color: rgb(124, 57, 9)
}


/* about section */

.about-table td {
    padding-right: 30px;
}

.about-table img {
    border-radius: 30%;
}

/* lists */

.list-padding li {
    padding-left: 20px;
}

.ingredients-container {
    display: inline-block;
    width: 900px;
}

.ingredients-container ul {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.ingredients-container img {
    vertical-align: top;
    float: right;
}

.ingredients-container .long-list {
    display: inline-block;
    vertical-align: top;
}

.long-list .ingredients-heading {
    margin-top: 0;
}

/* ending */

.ending-link {
    color: rgb(124, 57, 9);
}

/* footer */

.footer-copy {
    font-size: x-small;
}